// COLORS
$Red: #F04F4F;
$BabyBlue: #4FE6F0;
$GreyBlue: #232C3F;
$Green: #16A40A;
$Yellow: #E9ED28;
$Orange: #FFAC30;
$Grey: #797979;
$DarkGrey: #2d2d2d;
$White: #FFF;
$Black: #11151E;

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

$Roboto: "Roboto";